body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

.App-header {
  text-align: center;
}

.App {
  text-align: center;
}

form {
  margin: 10px;
}

button {
  margin: 25px;
}

ul {
  padding: 10px;
}

li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}